#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row; /* Default, so this line is optional */
  gap: 80px; /* Adds spacing between elements */
  justify-content: center; /* Aligns elements in the center */
  align-items: center; /* Aligns vertically in the center */
}

